lib/
*.gitignore

# MacOSX cruft
.DS_Store
build/
*.xcworkspace/
xcuserdata/
*.user
*.o

#Windows cruft
/Debug
/Release
/ipch
*.opensdf
*.sdf
*.suo
*.ncb
*.tlog
*.idb
*.pdb
*.psess
*.vspx
Resources.aps

# scons
.sconsign.dblite
